.container {
  border-bottom: 1px solid gray;
}

.content {
  padding: 8px 0 ;
  margin: 0px;
}

.box_actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.actions {
  display: flex;
}

.action_item {
  padding: 0 8px;
  font-size: 14px;
}

.action_item:nth-child(1) {
    padding-left: 0;
}

.action_item:hover {
  cursor: pointer;
  text-decoration: underline;
}

.info {
  display: flex;
  align-items: center;
  padding: 0 8px;
}

.avatar {
  background-color: gray;
}
