.container {
  padding: 0 2rem;
  display: flex;
  justify-content: space-evenly;
}

.left_side {
  width: 700px;
  height: 90vh;
}

.title_answers {
  padding: 8px 0;
  border-bottom: 1px solid gray;
}
.right_side {
  width: 300px;
}